@import 'variables.css';

html,
body {
	background-color: var(--color-background);
	color: var(--color-primary-text);
	scroll-behavior: smooth;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200px;
	font-style: normal;
	overflow-x: hidden;
}

#navbar span {
	display: none;
}

#navbar {
	display: flex;
	padding: 20px 60px 16px 60px;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
	backdrop-filter: blur(10px);
}

#navbar a {
	color: var(--color-primary-text);
	text-decoration: none;
}

#navbar-left {
	flex:1;
}

#navbar-right {
	text-align: right;
	flex:1;
}

#navbar-right a {
	color: var(--color-primary-text);
	padding-left: 20px;
	font-size: 1.5em;
}

#navbar-middle {
	text-align: center;
	flex:2;
}

#navbar-middle a {
	margin: 0px 20px;
}

.tags {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
}

.tag {
	padding: 6px 10px;
	border: 2px solid var(--color-secondary-text);
	color:var(--color-secondary-text);
	border-radius: 8px;
	font-size: 0.8em;
}

.tag:hover {
	border: 2px solid rgb(184, 229, 255);
	color: rgb(184, 229, 255);
	background-color: rgb(56, 63, 77) ;
}

.links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	margin-top: 20px;
}

.link-main, 
.link-sub {
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 0.8em;
	display: flex;
	gap: 6px;
	align-items: center;
}


.link-main {
	border: 2px solid black;
	color: black;
	background-color: white;
}

.link-sub {
	border: 2px solid var(--color-primary-text);
	color: var(--color-primary-text);
	background-color: rgb(57, 61, 68);
}


@media screen and (max-width: 850px) {
	#navbar-left,
	#navbar-right {
		display: none;
	}
}


@media screen and (max-width: 600px) {
	#navbar-middle {
		display: none;
	}

	#navbar {
		padding: 20px; 
	}

	#navbar span {
		display: flex;
		font-size: 1.2em;
		justify-content: flex-end;
	}
}