<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/index.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Sophia Lee</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Yomogi&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	</head>
	<body>
		<div id="navbar">
			<div>SL</div>
			<div id="navbar-middle">
				<a href="#about">About</a>
				<a href="#projects">Projects</a>
				<!-- <a href="">Design</a> -->
			</div>
			<div id="navbar-right">
				<a href="mailto:sophx.0573@gmail.com" class="fa-regular fa-envelope"></a>
				<a href="https://github.com/sophilee" target="_blank" class="fa-brands fa-github"></a>
				<a href="https://www.linkedin.com/in/sophia-lee-b164932aa/" target="_blank" class="fa-brands fa-linkedin"></a>
			</div>
		</div>
		<div id="main">
			<div>
				<h1>Sophia Lee</h1>
				<p class="text-animation">Computer Engineering | McMaster University</p>
			</div>
		</div>
		<div id="content">
			<div id="about">
				<div id="about-title">
					<span class="line"></span>
					<h1>About</h1>
					<span class="line"></span>
				</div>
				<img src="../images/decoration1.PNG" id="deco-top" alt="">
				<img src="../images/decoration1.PNG" id="deco-bottom" alt="">
				<div id="about-content">
					<div id="about-intro">
						<h2>Hello! I'm Sophia </h2>
						<p>— a <b>second-year Computer Engineering</b> Student at <b>McMaster University.</b></p>
						<p>I have worked as a freelance mobile developer and am actively exploring areas within computer engineering. I enjoy learning new tools, experimenting with unfamiliar technologies, and continuously expanding my skill set. </p>
						<p>Outside of academics, I enjoy creative work such as illustration, graphic and web design, and photography. I am currently the lead designer for the Canadian Team Programming Competition.</p>
						<p>Thank you for checking out my portfolio!</p>
						<div>
							<a href="https://github.com/sophilee" target="_blank" class="fa-brands fa-github"></a>
							<a href="https://www.linkedin.com/in/sophia-lee-b164932aa/" target="_blank" class="fa-brands fa-linkedin"></a>
						</div>
					</div>
					<div id="about-skills">
						<h3>Languages</h3>
						<div class="tags">
							<span class="tag">Python</span>
							<span class="tag">JavaScript</span>
							<span class="tag">TypeScript</span>
							<span class="tag">C</span>
							<span class="tag">C++</span>
							<span class="tag">Verilog</span>
							<span class="tag">SQL</span>
						</div>
						<h3>Tools and Framework</h3>
						<div class="tags">
							<span class="tag">Git</span>
							<span class="tag">React Native</span>
							<span class="tag">HTML/CSS</span>
							<span class="tag">Flask</span>
							<span class="tag">Linux</span>
							<span class="tag">VSCode</span>
						</div>
						<h3>Design</h3>
						<div class="tags">
							<span class="tag">Figma</span>
							<span class="tag">Procreate</span>
							<span class="tag">Clip Studio Paint</span>
							<span class="tag">Autodesk Inventor</span>
						</div>
					</div>
				</div>
			</div>
			<div id="projects">
				<div id="project-title">
					<span class="line"></span>
					<h1>Projects</h1>
					<span class="line"></span>
				</div>
				<div id="project-gallery">
					<div>
						<div id="project-img">
							<img src="../images/projects/chord_vision_banner.png" alt="">
						</div>
						<a href="https://github.com/sophilee/1P13-Project-3" target="blank">
							<div id="project-text">
								<h2>Chord Vision</h2>
								<p>An accessible note detector for music sheets designed for those with vision and hearing impairments.</p> 
								<div class="tags">
									<span class="tag">Python</span>
									<span class="tag">JavaScript</span>
									<span class="tag">HTML/CSS</span>
									<span class="tag">OpenCV</span>
									<span class="tag">Flask</span>
									<span class="tag">SQLite</span>
								</div>                       
							</div>
						</a>
					</div>
					<div>
						<div id="project-img">
							<img src="../images/projects/hero_thumbnail.png" alt="">
						</div>
						<a href="https://github.com/sophilee/sophilee.github.io" target="blank">
							<div id="project-text">
								<h2>Portfolio</h2>
								<p>A place to explore new skills and to showcase projects, experience, and other interests. </p>                        
								<div class="tags">
									<span class="tag">HTML/CSS</span>
									<span class="tag">Figma</span>
								</div>
							</div>
						</a>
					</div>
			</div>
			<div id="experience">
				<div id="experience-title">
					<span class="line"></span>
					<h1>Experience</h1>
					<span class="line"></span>
				</div>
				<div id="experience-item">
					<div id="experience-left">
						<img src="../images/logos/signature-beauty-lounge.png" alt="">
							<div id="experience-subtitle">
								<h3>Signature Beauty Lounge</h3>
								<p>Mobile Developer (Freelance)</p>
								<a> June 2025 - August 2025</a>
							</div>
					</div>
					<div id="experience-right">
						<p>Worked closely with the company to build a functional proof-of-concept of a mobile app.</p>
						<div class="tags">
							<span class="tag">React Native</span>
							<span class="tag">TypeScript</span>
							<span class="tag">Flask</span>
							<span class="tag">Sanity</span>
							<span class="tag">Figma</span>
						</div>
					</div>
				</div>
				<div id="experience-item">
					<div id="experience-left">
						<img src="../images/logos/ctpc-logo.png" alt="">
							<div id="experience-subtitle">
								<h3>Canadian Team Programming Competition</h3>
								<p>Lead Designer</p>
								<a>January 2025 - Present</a>
							</div>
					</div>
					<div id="experience-right">
						<p>Designed, developed, and maintained a website for a CS contest with hundreds of annual participants.</p>
						<div class="tags">
							<span class="tag">HTML</span>
							<span class="tag">CSS</span>
							<span class="tag">Procreate</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>