<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/index.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Sophia Lee</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Yomogi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <div id="navbar">
            <div>SL</div>
            <div id="navbar-middle">
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
                <a href="">Design</a>
            </div>
            <div id="navbar-right">
                <a href="" class="fa-regular fa-envelope"></a>
                <a href="" class="fa-brands fa-github"></a>
                <a href="" class="fa-brands fa-linkedin"></a>
            </div>
        </div>
        <div id="main">
            <div>
                <h1>Sophia Lee</h1>
                <p>Computer Engineering | McMaster University</p>
            </div>
        </div>
        <div id="content">
            <div id="about">
                <div id="about-title">
                    <span></span>
                    <h1>About</h1>
                    <span></span>
                </div>
                <div id="about-content">
                    <h2>Hello! I'm Sophia </h2>
                    <p>— a 2nd Year Computer Engineering Student at McMaster University.</p>
                    <br>
                    <p>Currently, I am working on [...]</p>
                    <p>When I’m not studying, you can find me doing sorts of arts, including illustrations, 
                    graphic and web designs, and photography. You may also find me [... idk man]</p>
                    <br>
                    <p>Thank you for checking out my portfolio!</p>

                </div>
            </div>
            <div id="projects">
                <div id="project-title">
                    <span></span>
                    <h1>Projects</h1>
                    <span></span>
                </div>
                <div id="project-gallery">
                    <div>
                        <div id="project-img">
                            <img src="../images/elementor-placeholder-image.webp" alt="">
                        </div>
                        <div id="project-text">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et </p>                        
                        </div>
                    </div>
                    <div>
                        <div id="project-img">
                            <img src="../images/elementor-placeholder-image.webp" alt="">
                        </div>
                        <div id="project-text">
                            <h2>Title</h2>
                            <p>Lorem ipsum do
                        </div>
                    </div>
                    <div>
                        <div id="project-img">
                            <img src="../images/elementor-placeholder-image.webp" alt="">
                        </div>
                        <div id="project-text">
                            <h2>Title</h2>
                            <p>Lorem ipsum do
                        </div>
                    </div>
            </div>
            <div id="experience">
                <div id="experience-title">
                    <span></span>
                    <h1>Experience</h1>
                    <span></span>
                </div>
                <div id="experience-content">
                    <div id="experience-text">
                        <h2>Canadian Team Programming Contest (CTPC)</h2>
                        <p>December 2024 - Present | Designer</p>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                    </div>
                    <div id="experience-icons">
                        <h2>Languages</h2>
                        <div id="icons-line1">
                            <img src="../images/logos/python-original.svg" alt="python">
                            <img src="../images/logos/javascript-original.svg" alt="">
                            <img src="../images/logos/html5-plain.svg" alt="">
                            <img src="../images/logos/css3-plain.svg" alt="">
                        </div>
                        <h2>Tools and Frameworks</h2>
                        <div id="icons-line2">
                            <img src="../images/logos/vscode-original.svg" alt="">
                            <img src="../images/logos/git-original.svg" alt="">
                            <img src="../images/logos/flask-original.svg" alt="">
                            <img src="../images/logos/sqlite-original.svg" alt="">
                        </div>
                        <div id="icons-line3">
                            <img src="../images/logos/figma-original.svg" alt="">
                            <img src="../images/logos/Procreate.png" alt="">
                            <img src="../images/logos/CSP.png" alt="">    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>